/* products.css */
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 10px;
}

.product-title {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price {
    color: #888;
    font-size: 14px;
}

.buy-btn {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #c03320;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}

.buy-btn:hover {
    background-color: #ea130b;
}
